* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.fullwidth {
    width: 100%;
}

/*inizio header-top*/
.header-top {
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.header-top-l, .header-top-r {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo-header, .nav-header-left, .nav-header-right {
    height: 100%;
}

.logo-header {
    width: 25%;
}

.nav-header-left {
    width: 75%;
}

.nav-header-right {
    width: 100%;
}
/*fine header-top*/

/*inizio jumbo*/

.jumbo {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.jumbo-container {
    height: 85%;
    width: 60%;
    position: absolute;
    bottom: -60px;
}

.jumbo-title {
    width: 100%;
    height: 30%;
}

.jumbo-container-bottom {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.jumbo-container-bottom-left, .jumbo-container-bottom-right {
    height: 100%;
}

.jumbo-container-bottom-left {
    width: 35%;
}

.jumbo-container-bottom-right {
    width: 65%;
}

/*fine jumbo*/

/*inizio main*/

.section {
    width: 50%;
    margin: 50px auto;
}

.plans.section {
    margin-top: 90px; /*per non far sovrapporre l'immagine con la sezione inferiore*/
}

/*inizio plans section*/
.plans {
    height: 150vh;
}

.plans-title {
    height: 10%;
}

.monthly-yearly-container{
    height: 5%;
}

.plans-cards-container {
    height: 65%;
    display: flex;
    justify-content: space-between;
}

.plan-card {
    height: 100%;
    width: calc(90% / 3);
}

.enterprise-container {
    height: 20%;
}

/*fine plans section*/

/*inizio partners section*/

.partners {
    height: 60vh;
    display: flex;
    justify-content: center;
}

.partners-img {
    width: 60%;
    height: 100%;
}

.partners-text {
    width: 40%;
    height: 100%;
}


/*fine partners section*/

/*inizio features section*/

.features {
    height: 100vh;
}

.features-title {
    height: 10%;
}

.features-cards-container {
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.feature-card {
    width: calc(90% / 3);
    height: 50%;
}

/*fine features section*/

/*inizio bottom section*/

.bottom {
    height: 30vh;
}

/*fine bottom section*/

/*inizio testimonials section*/

.testimonials {
    height: 100vh
    width: 100vw;
}

.testimonials-top {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonials-top-square {
    width: calc(100% / 3);
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial-card {
    width: calc(100% / 2);
    height: calc(100% / 2);
}

.testimonials-bottom {
    height: 30vh;
    width: 100%;
}

.testimonials-bottom-container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

/*fine testimonials section*/

/*inizio faq section*/

.faq {
    height: 44vh;
}

.faq-title, .faq-item {
    height: 25%;
}

/*inizio faq section*/

/*fine main*/

footer {
    height: 44vh;
}

.footer-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.footer-top {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-list {
    width: calc(95% / 5);
    height: 100%;
}

.footer-bottom {
    height: 20%;
    width: 100%;
}

/* debug rules */

* {
    border: 1px dotted black;
}

.debug .header-top {
    background-color: red;
}

.debug .header-top-l, .debug .header-top-r {
    background-color: aquamarine;
}

.debug .jumbo {
    background-color: blue;
}

.jumbo-container {
    background-color: grey;
}

.debug .plans {
    background-color: green;
}

.debug .partners {
    background-color: yellow;
}

.debug .features {
    background-color: rgb(255, 0, 212);
}

.debug .bottom {
    background-color: brown;
}

.debug .testimonials {
    background-color: aqua;
}

.testimonials-bottom-container {
    background-color: bisque;
}

.debug .faq{
    background-color: teal;
}

.debug footer {
    background-color: darkolivegreen;
}
/* end debug rules */