* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.fullwidth {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    margin-right: 5px;
}

.button {
    color: white;
    text-align: center;
    display: inline;
    padding: 4px 10px;
}

.blue-button {
    background-color: #0061ff;
}

.blue-button:hover {
    background-color: #0062ff88;
}

.big-btn {
    padding: 10px 10px;
}

.blue-text {
    color: #0061ff;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 14px;
}

h3 {
    margin-bottom: 10px;
}


/*inizio header-top*/
header li a{
    color: black;
    font-size: 14px;
    display: inline-block;
}

#header-button {
    color: white;
    padding: 4px, 10px
}

.header-top {
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
}

.header-top-l, .header-top-r {
    width: 35%;
    height: 100%;
    line-height: 70px;
    margin: 0 20px;
}

.nav-li {
    display: inline-block;
    line-height: 69px; /*69 invece di 70 perché altrimenti mi risultava il div di 71px per motivi che non so, inoltre mi lasciava un px quando andavo in hover tra il margine inferiore dell'header-top e il border-bottom */
    padding: 0px 5px;
}

.logo {
    display: inline-block;
    line-height: 69px; /*69 invece di 70 perché altrimenti mi risultava il div di 71px per motivi che non so, inoltre mi lasciava un px quando andavo in hover tra il margine inferiore dell'header-top e il border-bottom */
    padding: px 5px;
}

.header-top-r {
    text-align: right;
}

.logo img {
    vertical-align: middle;
    height: 25px;
    margin-bottom: 5px;  /* necessario per allineare l'img, anche se nell'esempio non è perfettamente allineata */
}

.nav-header-left, .nav-header-right {
    height: 100%;
}

li.nav-li:hover {
    border-bottom: 3px solid rgb(0, 70, 70);
}

#header-button {
    border-bottom: white;
}

/*fine header-top*/




/*inizio jumbo*/

.jumbo {
    background-color: #b4d0e7;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.jumbo-container {
    height: 85%;
    width: 60%;
    position: absolute;
    bottom: -60px;
}

.jumbo-title {
    width: 100%;
    height: 30%;
    font-size: 30px;
}

.jumbo-container-bottom {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.jumbo-container-bottom-left, .jumbo-container-bottom-right {
    height: 100%;
}

.jumbo-container-bottom-left {
    width: 35%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jumbo-container-bottom-left p  {
    font-size: 16px;
}

span.blue-button {
    width: 250px;
}

.fa-solid.fa-arrow-down {
    font-size: 50px;
    color: black;
}

.jumbo-container-bottom-right {
    width: 65%;
}
.jumbo-container-bottom-right img {
    height: 100%;
}

/*fine jumbo*/



/*inizio main*/

.section {
    width: 50%;
    margin: 50px auto;
}


/*inizio plans section*/

.plans.section {
    margin-top: 140px; /*per non far sovrapporre l'immagine con la sezione inferiore*/
    height: 150vh;
}

.circle {
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

.blue-circle {
    border: 5px solid #0061ff;
}

.monthly-yearly-container span {
    margin: 0 10px
}

.plans-title {
    height: 5%;
}

.monthly-yearly-container{
    height: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.plans-cards-container {
    height: 68%;
    display: flex;
    justify-content: space-between;
}

.plan-card {
    height: 100%;
    width: calc(90% / 3);
    border: 1px solid lightgray;
}

.div90 {
    width: 90%;
    height: 95%;
    margin: 0 auto;
}

.plan-card-title, .plan-card-price, .plan-card-top, .plan-card-middle, .plan-card-bottom {
    width: 100%;
}

.plan-card-title {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    
}

.plan-card-price {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.price, .frequency, .row span, .plan-card-middle span, .plan-card-title span, #p-div95left, .div95right .blue-button.big-btn, .bottom.section a{
    font-size: 12px;
    display: block;
}

.price {
    font-weight: bold;
}

.frequency {
    color: gray;
}

.plan-card-top {
    height: 25%;
    padding-top: 25px;
}

.plan-card-top, .plan-card-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    margin: 10px 0;
    display: flex;
    justify-content: flex-start;
}

.plan-card-middle {
    height: 25%;
    padding-top: 35px;
}

.plan-card-middle a {
    color:#0061ff
}

.small-hr {
    background-color: transparent;
    height: 30px;
    width: 40px;
    border-bottom: 1px solid lightgray;
}

.plan-card-bottom {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} 

h6 {
    margin-top: 20px;
}

.enterprise-card {
    height: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.enterprise-container {
    width: 100%;
    height: 88%;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.plan-card-title.enterprise-title {
    height: 15%;
    width: 100%;
}

#enterprise-title, #contact-us  {
    margin-top: 20px;
}

#contact-us {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

.div95{
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div95left {
    width: 60%;
    height: 100%;
}

#p-div95left {
    margin-top: 45px;
}

.div95right {
    width: 40%;
    height: 100%;
    position: relative;
}

.div95right a {
    position: absolute;
    top: 30px;
    right: 7px;
}

.div95right .blue-button.big-btn {
    padding: 10px 30px;
}

/*fine plans section*/

/*inizio partners section*/

.partners {
    height: 60vh;
    display: flex;
    justify-content: center;
}

.partners-img{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}

.partners-img img {
    width: 100%;
}

.partners-text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.partners-text p {
    margin-top: 20px;
}

.white-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.white-button {
    border: 1px solid black;
    padding: 10px 10px;
    color: black;
    text-align: center;
}

.white-button:hover {
    background-color: #f5f5f5
}

/*fine partners section*/

/*inizio features section*/

.features {
    height: 100vh;
}

.features-title {
    height: 5%;
}

.features-cards-container {
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

.feature-card {
    width: calc(90% / 3);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.feature-card img {
    width: 100%;
}

/*fine features section*/

/*inizio bottom section*/

.bottom {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom.section a {
    text-decoration: underline;
    padding-bottom: 50px;
    color: #0061ff;
}

.bottom.section h2 {
    padding-top: 60px;
}

/*fine bottom section*/

/*inizio customers section*/

.customers {
    height: 100vh;
    width: 100%;    /*se metto vw mi lascia uno spazio bianco alla destra del body */
    background-color: #b4d0e7;
}

.customers-top {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.customers-top-square {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.customer-card {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-card:active {
    border: 20px solid rgba(255, 255, 255, 0.534);
}

.customer-card img {
    width: 50%;
    filter: invert(93%) sepia(0%) saturate(7481%) hue-rotate(210deg) brightness(111%) contrast(107%);;
}

#center-top-square {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    overflow: auto;
}

#center-top-square img {
    width: 40%;
}

#center-top-square img, .center-top-square .small-hr, .center-top-square p, .center-top-square h6 {
    margin-bottom: 70px;
}

#center-top-square span {
    font-size: 14px;
    margin-top: 70px;
}

.big-hr {
    background-color: transparent;
    height: 50px;
    width: 100px;
    border-top: 1px solid lightgray;
}


#green-card {
    background-color: #a2d39b;
}

#burgundy-card {
    background-color: #61082b;
}

#turquoise-card {
    background-color: #0093ce;
}

#red-card {
    background-color: #ff1c1c;
}

#darkred-card {
    background-color: #d5001f;
}

#lightblue-card {
    background-color: #b4d0e7;
}

#darkblue-card {
    background-color: #0d2481;
}

#yellow-card {
    background-color: #ffd830;
}

.customers-bottom {
    height: 30%;
    width: 100%;
}

.customers-bottom-container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customers-bot-left {
    width: 40%;
    text-align: left;
    color: #61082b;
}

.customers-bot-left h2 {
    font-size: 30px;
}

.customers-bot-right {
    width: 40%;
    text-align: right;
}

.customers-bottom span {
    background-color: white;
    border: 1px lightgray;
    color: black;
}

.customers-bottom span:hover {
    background-color:#f5f5f5;
}
/*fine customers section*/

/*inizio faq section*/

.faq {
    height: 60vh;
}

.faq-title, .faq-item, #answer1, #answer2, #answer3 {
    height: calc(100% / 5);
}

.faq-item, #answer1, #answer2, #answer3 {
    border-top: 1px solid lightgray;
}

.faq-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer-1, .answer-2, .answer-3 {
    display: none;
}

.faq-item:hover + .answer-1, .faq-item:hover + .answer-2, .faq-item:hover + .answer-3{
    display: block;    
}

.faq-item:hover i {
    animation: rotate 0.5s linear;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    100% {
        transform: rotate(180deg)
    }
}
/*inizio faq section*/

/*fine main*/


/*inizio footer*/

footer {
    height: 55vh;
    background-color: #000;
}

.footer-container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.footer-top {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-list a, .footer-list ul {
    color: white;
}

.footer-list {
    width: calc(95% / 5);
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.footer-bottom {
    height: 20%;
    width: 100%;
    color: white;
}

.footer-bottom a {
    color: white;
}

.list-title {
    padding-top: 20px;
    height: 20%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.footer-list ul {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
}

.footer-list li {
    margin-top: 10px;
}

.footer-bottom .big-hr {
    margin-top: 70px;
}

#lang {
    padding: 0 5px;
}
/*fine footer*/



/* inizio debug rules */

/* debug rules disattivate temporaneamente


.debug .header-top {
    background-color: red;
}

.debug .header-top-l, .debug .header-top-r {
    background-color: aquamarine;
}

.debug .jumbo {
    background-color: blue;
}

.jumbo-container {
    background-color: grey;
}

.debug .plans {
    background-color: green;
}


.debug .partners {
    background-color: yellow;
}

.debug .features {
    background-color: rgb(255, 0, 212);
}

.debug .bottom {
    background-color: brown;
}

.debug .customers {
    background-color: aqua;
}

.customers-bottom-container {
    background-color: bisque;
}


.debug .faq{
    background-color: teal;
}

* {
    border: 1px dotted black;
}

.debug footer {
    background-color: darkolivegreen;
}

*/





/* end debug rules */