* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.fullwidth-section {
    width: 100%;
}

.header-top {
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.header-top-l, .header-top-r {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo-header, .nav-header-left, .nav-header-right {
    height: 100%;
}

.logo-header {
    width: 25%;
}

.nav-header-left {
    width: 75%;
}

.nav-header-right {
    width: 100%;
}

.jumbo {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.jumbo-container {
    height: 85%;
    width: 60%;
    position: absolute;
    bottom: -60px;
}

.jumbo-title {
    width: 100%;
    height: 30%;
}

.jumbo-container-bottom {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.jumbo-container-bottom-left, .jumbo-container-bottom-right {
    height: 100%;
}

.jumbo-container-bottom-left {
    width: 35%;
}

.jumbo-container-bottom-right {
    width: 65%;
}

.section {
    width: 50%;
    margin: 0 auto; /*da rimuovere quando capisco perché non sta ereditando da body*/
}

.plans {
    height: 120vh;
}

.partners {
    height: 60vh;
}

.features {
    height: 92vh;
}

.bottom {
    height: 30vh;
}

.testimonials {
    height: 92vh;
}

.faq {
    height: 44vh;
}

footer {
    height: 44vh;
}


/* debug rules */

* {
    border: 1px dotted black;
}

.debug .header-top {
    background-color: red;
}

.debug .header-top-l, .debug .header-top-r {
    background-color: aquamarine;
}

.debug .jumbo {
    background-color: blue;
}

.jumbo-container {
    background-color: grey;
}

.debug .plans {
    background-color: green;
}

.debug .partners {
    background-color: yellow;
}

.debug .features {
    background-color: rgb(255, 0, 212);
}

.debug .bottom {
    background-color: brown;
}

.debug .testimonials {
    background-color: aqua;
}

.debug .faq{
    background-color: teal;
}

.debug footer {
    background-color: darkolivegreen;
}
/* end debug rules */